<template>
  <div class="viewer">
    <router-view />
  </div>
</template>

<script setup>

</script>

<style scoped lang="postcss">
.viewer {
  @apply flex-1 h-full py-[26px] px-[28px] overflow-x-hidden overflow-y-auto;
  @apply <desktop:(py-[27px] px-[12px]);
}
</style>
